In [31]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [32]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Trairi,BR,2022-01-28 20:48:18,-3.2778,-39.2689,72.09,94,100,8.03
1,1,Busselton,AU,2022-01-28 20:51:54,-33.6500,115.3333,65.05,63,7,11.16
2,2,Mataura,NZ,2022-01-28 20:51:54,-46.1927,168.8643,59.49,58,95,2.35
3,3,New Norfolk,AU,2022-01-28 20:47:48,-42.7826,147.0587,63.66,70,96,1.99
4,4,College,US,2022-01-28 20:51:56,64.8569,-147.8028,6.75,53,100,11.50

In [33]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [34]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [35]:
# Get the maximum temperature.
# max_temp = city_data_df["Max Temp"]
# temps = []
# for temp in max_temp:
#     temps.append(max(temp, 0))

In [36]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center = (30.0, 31.0), zoom_level = 1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], 
                                 dissipating = False, 
                                 max_intensity = 300, 
                                 point_radius = 4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [37]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [38]:
# Heatmap of cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [39]:
# Heatmap of wind speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [40]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [41]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)].dropna()

preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
7,7,Ransang,PH,2022-01-28 20:51:58,8.9603,117.5828,78.03,81,72,2.89
8,8,Vaini,TO,2022-01-28 20:51:59,-21.2000,-175.2000,82.29,79,99,19.22
14,14,Kavieng,PG,2022-01-28 20:52:04,-2.5744,150.7967,81.79,78,98,6.46
17,17,Tucuman,AR,2022-01-28 20:50:13,-26.8241,-65.2226,78.80,57,40,4.61
18,18,Rikitea,PF,2022-01-28 20:52:07,-23.1203,-134.9692,77.95,71,100,16.04
29,29,Isangel,VU,2022-01-28 20:52:14,-19.5500,169.2667,79.09,86,91,14.94
33,33,Mogadishu,SO,2022-01-28 20:52:17,2.0371,45.3438,77.05,79,76,21.30
36,36,Kapaa,US,2022-01-28 20:48:56,22.0752,-159.3190,79.12,71,0,1.01
38,38,Sambava,MG,2022-01-28 20:52:20,-14.2667,50.1667,75.40,85,46,10.25
41,41,Atuona,PF,2022-01-28 20:52:22,-9.8000,-139.0333,77.59,72,15,15.84

In [42]:
preferred_cities_df.count()

City_ID       156
City          156
Country       156
Date          156
Lat           156
Lng           156
Max Temp      156
Humidity      156
Cloudiness    156
Wind Speed    156
dtype: int64

In [43]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

         City Country  Max Temp      Lat       Lng Hotel Name
7     Ransang      PH     78.03   8.9603  117.5828
8       Vaini      TO     82.29 -21.2000 -175.2000
14    Kavieng      PG     81.79  -2.5744  150.7967
17    Tucuman      AR     78.80 -26.8241  -65.2226
18    Rikitea      PF     77.95 -23.1203 -134.9692
29    Isangel      VU     79.09 -19.5500  169.2667
33  Mogadishu      SO     77.05   2.0371   45.3438
36      Kapaa      US     79.12  22.0752 -159.3190
38    Sambava      MG     75.40 -14.2667   50.1667
41     Atuona      PF     77.59  -9.8000 -139.0333

In [44]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping")

Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping

In [46]:
# Making sure hotel_df has hotel names
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
7,Ransang,PH,78.03,8.9603,117.5828,Black and Crystal Sand Campsite
8,Vaini,TO,82.29,-21.2000,-175.2000,Keleti Beach Resort
14,Kavieng,PG,81.79,-2.5744,150.7967,Nusa Island Retreat
17,Tucuman,AR,78.80,-26.8241,-65.2226,Dallas Hotel Tucuman
18,Rikitea,PF,77.95,-23.1203,-134.9692,People ThankYou
29,Isangel,VU,79.09,-19.5500,169.2667,Tanna Lodge
33,Mogadishu,SO,77.05,2.0371,45.3438,Hotel Juba
36,Kapaa,US,79.12,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
38,Sambava,MG,75.40,-14.2667,50.1667,Melrose
41,Atuona,PF,77.59,-9.8000,-139.0333,Villa Enata

In [47]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [48]:
# Adding Info Boxes with HTML
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [18]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))